{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "linebreak-style": "off",
    "require-jsdoc": "off",
    "operator-linebreak": "off",
    "max-len": [
      2,
      120
    ],
    "indent": [
      2,
      2
    ]
  },
  "extends": [
    "eslint:recommended",
    "google"
  ]
}